body { padding-top: 60px; padding-top: 40px; }

a { color: #889f5c;  }
.tag { margin-left: 4px; }
.tag a { color: white; }

.container > footer p {
	margin-top: 80px;
  text-align: center; /* center align it with the container */
}

/* Page header tweaks */
.page-header {
  background-color: #f2f8e5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

/* Give a quick and non-cross-browser friendly divider */
.links-bar { border-left: 1px solid #eee; padding: 10px}

.sharing { margin-top: 15px; margin-bottom: 30px; }
.bannerboxes { margin-top: 20px; margin-bottom: 40px; }
.footer { text-align: center}