{% extends "layout.html" %}
{% block sitestyle %}intro{% endblock %}
{% block logo %}{% endblock logo %}
{% block navigation %}{% endblock navigation %}
{% block main %}

<div class = "row">
	<div class = "span12 header">
		<h1>Data Brewery</h1>
		<p>
			Data Brewery is a set of <a href = "http://python.org">Python</a> frameworks and tools for data processing and analysis.
		</p>
	</div>

</div>

<div class = "row boxes">

	<div class = "span4 box" onclick = "window.location='{{ROOT_CUBES}}';">

		<img src = "{{SITEURL}}/static/images/logo_cubes.png" alt = "Cubes logo" width = "80%">

		<p>
			Aggregated data browsing, reporting and multidimensional modeling. Contains set of tools, OLAP HTTP server and light-weight Python framework.
		</p>

		<p class = "links">
			<a href = "{{ROOT_CUBES}}/index.html">Overview</a>
			<a href = "{{ROOT_CUBES}}/documentation.html">Documentation</a>
			<a href = "{{ROOT_CUBES}}/explore.html">Explore</a>
		</p>

	</div>

	<div class = "span4 box" onclick = "window.location='{{ROOT_BUBBLES}}';">

		<img src = "{{SITEURL}}/static/images/logo_bubbles.png" alt = "Bubbles logo" width = "90%">

		<p>
            Framework for data processing (ETL) and auditing based on virtual
            data objects with focus on process understandability and usability.
		</p>
		<p class = "links">
			<a href = "{{ROOT_BUBBLES}}">Overview</a>
			<a href = "{{ROOT_BUBBLES}}/documentation.html">Documentation</a>
		</p>
		<p>
			<em>Note: Bubbles is a successor of former Brewery framework.</em>
		</p>

	</div>

	<div class = "span4 box" onclick = "window.location='{{ROOT_BLOG}}';">

		<img src = "{{SITEURL}}/static/images/logo_blog.png" alt = "Blog logo" width="60%">

		<p>
			How-to's, news updates and various data talks.
		</p>

	</div>

</div>


{% endblock main %}
