<!DOCTYPE html>
<html>

	<head>
		{% block head %}
			<meta charset = "utf-8">

			<!-- FONTS -->
			<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>

			<!-- DEFAULT STYLES -->
			<link rel = "stylesheet" href = "{{ SITEURL }}/theme/css/bootstrap.min.css">
			<link rel = "stylesheet/less" href = "{{ SITEURL }}/theme/css/default.less">

			<!-- LESS PROCEESSING -->
			<script src = "{{ SITEURL }}/theme/js/vendor/less.min.js"></script>

	        {% if FEED_ALL_ATOM %}
	        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed">
	        {% endif %}
	        {% if FEED_ALL_RSS %}
	        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Full RSS Feed">
	        {% endif %}
	        {% if FEED_ATOM %}
	        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
	        {% endif %}
	        {% if FEED_RSS %}
	        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
	        {% endif %}
	        {% if CATEGORY_FEED_ATOM %}
	        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed">
	        {% endif %}
	        {% if CATEGORY_FEED_RSS %}
	        <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Categories RSS Feed">
	        {% endif %}
	        {% if TAG_FEED_ATOM %}
	        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag) }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Tags Atom Feed">
	        {% endif %}
	        {% if TAG_FEED_RSS %}
	        <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag) }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} Tags RSS Feed">
	        {% endif %}

	        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        {% endblock head %}
	</head>

	<body>

		<div class = "container {% block sitestyle %}info{% endblock %}">

			<!-- MAIN NAV -->
			<div class = "row menu">
				<div class = "span3">

					<h1 class = "logo">
						{% block logo %}
						<img src = "{{ SITEURL }}/theme/static/img/logo_cubes_4.png" width = "200px">
						{% endblock logo %}
					</h1>

				</div>

				<nav class = "span9">
						<menu>
							{% block menu %}

								 {% if DISPLAY_PAGES_ON_MENU %}
	          						{% for p in PAGES|sort(attribute='filename') %}
										<li><a href = "{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
									{% endfor %}
								{% endif %}

							{% endblock menu %}
						</menu>
				</nav>					
			</div>

			<!-- CONTENT -->
			{% block main %}

				<p>Please, extend this block.</p>

			{% endblock main %}

			<!--- FOOTER -->

			<div class = "row footer">

				<div class = "span12">

					<p>
						Website content copyright &copy; by 
						<a href="http://stiivi.com">Stefan Urbanek</a>
						and contributors. Brewery, Cubes and its documentation are
						licensed under slightly modified MIT license.<br/>
						Design by
						<a href="http://andrejsykora.com">Andrej Sykora</a>.
						Website generation by
						<a href="http://docs.getpelican.com">Pelican</a>.
					</p>

				</div>

			</div>

		</div>

		{% block scripts %}
			<script src = "{{ SITEURL }}/theme/static/js/vendor/jquery.min.js"></script>
			<script src = "{{ SITEURL }}/theme/static/js/vendor/bootstrap.min.js"></script>
			<script src = "{{ SITEURL }}/theme/static/js/dist/effects.js"></script>
		{% endblock scripts %}

	</body>

</html>