{% extends "base.html" %}

{% block main %}

	<div class = "row content">

				<div class = "span8 articles">

						<article>
							<div class="info">
								<em>{{ article.date.strftime('%Y-%m-%d') }} by {{ article.author }}</em>
							</div>
							<h1 class="title">{{ article.title }}</h1>

							{{ article.content }}

							<div class = "social">
								<h5>Share:</h5>
								<a href = "http://facebook.com/sharer.php?u={{ SITEURL }}/{{ article.url }}" class = "facebook"></a>
								<a href = "http://twitter.com/intent/tweet?url={{ SITEURL }}/{{ article.url }}" class = "twitter"></a>
								<a href = "https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}" class = "google"></a>
								<a href = "http://reddit.com/submit?url={{ SITEURL }}/{{ article.url }}" class = "reddit"></a>
							</div>

						</article>

				</div>

				<!--
				<div class = "span2 offset2 tags">
					<h2>Tags</h2>
					<ul>
						{% for tag, null in tags %}
						<li><a href ="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a></li>
						{% endfor %}
					</ul>
				</div>
				-->

	</div>

{% endblock %}