<!DOCTYPE html>
<html>

	<head>
		<meta charsef = "utf-8">

		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>

		<link rel = "stylesheet" href = "./css/bootstrap.min.css">
		<link rel = "stylesheet/less" href = "./css/default.less">

		<script src = "./js/vendor/less.min.js"></script>

		<title>Data Brewery</title>
	</head>

	<body>

		<div class = "container blog">

			<!-- MAIN NAV -->
			<div class = "row menu">
				<div class = "span4">

					<h1 class = "logo cubes">
						<img src = "./img/logo_blog.png" width = "300px">
					</h1>

				</div>

				<nav class = "span8">
						<menu>
							<li><a href = "">Blog</a></li>
						</menu>
				</nav>					
			</div>

			<div class = "row content">

				<div class = "span8 articles">

					<article>
						<span>
							<i>2013-01-02</i><br>
							by <strong>Andrej Sykora</strong>
						</span>

						<h1>How to mine?</h1>

						<p>Mining is difficult business. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

						<p>Mining is difficult business. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

						<p>Magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

					</article>

					<article>
						<span>
							<i>2013-01-02</i><br>
							by <strong>Andrej Sykora</strong>
						</span>

						<h1>How to mine?</h1>

						<p>Mining is difficult business. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

						<p>Mining is difficult business. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

						<p>Magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

					</article>

					<p class = "pagination">
						<a href = "">Previous Page</a> | <a href = "">Next Page</a>
					</p>

				</div>

				<div class = "span2 offset2 tags">
					<h2>Tags</h2>
					<ul>
						<li><a href ="">data analysis</a></li>
						<li><a href ="">cubes</a></li>
						<li><a href ="">brewery</a></li>
						<li><a href ="">tech ramble</a></li>
					</ul>
				</div>

			</div>

		</div>

		<script src = "./js/vendor/jquery.min.js"></script>
		<script src = "./js/vendor/bootstrap.min.js"></script>
		<script src = "./js/dist/effects.js"></script>

	</body>

</html>