<!DOCTYPE html>
<html>

	<head>
		<meta charsef = "utf-8">

		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>

		<link rel = "stylesheet" href = "./css/bootstrap.min.css">
		<link rel = "stylesheet/less" href = "./css/default.less">

		<script src = "./js/vendor/less.min.js"></script>

		<title>Data Brewery</title>
	</head>

	<body>

		<div class = "container info">

			<!-- MAIN NAV -->
			<div class = "row menu">
				<div class = "span4">

					<h1 class = "logo cubes">
						<img src = "./img/logo_cubes_4.png" width = "200px">
					</h1>

				</div>

				<nav class = "span8">
						<menu>
							<li><a href = "">Overview</a></li>
							<li><a href = "">Documentation</a></li>
							<li><a href = "">Explore</a></li>
							<li><a href = "">Download</a></li>
							<li><a href = "">Contribute</a></li>
						</menu>
				</nav>					
			</div>

			<!-- FULL WIDTH TEXT -->
			<div class = "row content">

				<div class = "span12">
					<h1 class = "highlight">Documentation and Support</p>
				</div>

			</div>

			<!-- FEATURE BOXES -->
			<div class = "row content">

				<div class = "span5">
					<h2>Libray Documentation</h2>
					<p>Actual documentation can be found at the 
					python package index.</p>
					<p>Download: <a href = "">HTML (zipped)</a>, <a href = "">PDF</a>, <a href = "">epub</a></p>
					<p>Development version: <a href = "">online</a>.</p>
				</div>

				<div class = "span5 offset2">
					<h2>Community</h2>
					<p>	Mailing list: cubes-discuss@googlegroups.com</p>
					<p>IRC: #databrewery at freenode.net</p>
				</div>

			</div>

			<div class = "row content">

				<div class = "span5">
					<h2>Wiki</h2>
					<p>Recipes and stuff: <a href = "">wiki.databrewery.org</a></p>
				</div>

			</div>

			<div class = "row content">

				<div class = "span12">
					<h2>Videos, Presentations and Other</h2>
					<table class = "table">
						<thead>
							<tr>
								<th>Title</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Stiivi's wonderful presentation</td>
								<td>Youtube video</td>
							</tr>
							<tr>
								<td>Stiivi's wonderful presentation</td>
								<td>Youtube video</td>
							</tr>
							<tr>
								<td>Stiivi's wonderful presentation</td>
								<td>Youtube video</td>
							</tr>
							<tr>
								<td>Stiivi's wonderful presentation</td>
								<td>Youtube video</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>


		</div>

		<script src = "./js/vendor/jquery.min.js"></script>
		<script src = "./js/vendor/bootstrap.min.js"></script>
		<script src = "./js/dist/effects.js"></script>

	</body>

</html>