<!DOCTYPE html>
<html>

	<head>
		<meta charsef = "utf-8">

		<!-- FONTS -->
		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>

		<link rel = "stylesheet" href = "./css/bootstrap.min.css">
		<link rel = "stylesheet/less" href = "./css/default.less">

		<script src = "./js/vendor/less.min.js"></script>

		<title>Data Brewery</title>
	</head>

	<body>

		<div class = "container intro">

			<div class = "row">

				<div class = "span12 header">

					<img src = "./img/logo_databrewery.png" alt = "Data Brewery logo" width = "500px">

					<h1>Data Brewery</h1>

					<p>
						Data Brewery is a set of <a href = "http://python.org">Python</a> frameworks with tools for data analysis.
					</p>

				</div>

			</div>

			<div class = "row boxes">

				<div class = "span4 box" onclick = "window.location='./cubes.html';">

					<img src = "./img/logo_cubes_4.png" alt = "Cubes logo" width = "80%">

					<p>
						Aggregated data browsing, reporting and multidimensional modeling. Contains set of tools, OLAP HTTP server and light-weight Python framework.
					</p>

					<p class = "links">
						<a href = "">Overview</a>
						<a href = "">Download</a>
						<a href = "">Documentation</a>
						<a href = "">Models</a>
						<a href = "">Extensions</a>
					</p>

				</div>

				<div class = "span4 box" onclick = "window.location='./brewery.html';">

					<img src = "./img/logo_brewery_2.png" alt = "Brewery logo" width = "90%">

					<p>
						Flow based data processing with 
						support for variety of data 
						sources, data targets. Suitable for 
						extraction, transformation and 
						loading (ETL) as well as data 
						auditing and data quality 
						monitoring.
					</p>

					<p class = "links">
						<a href = "">Overview</a>
						<a href = "">Download</a>
						<a href = "">Documentation</a>
						<a href = "">Examples</a>
					</p>

				</div>

				<div class = "span4 box" onclick = "window.location='./blog.html';">

					<img src = "./img/logo_brewery_2.png" alt = "Blog logo" width = "90%">

					<p>
						How-to's, news updates and various data talks.
					</p>

				</div>

			</div>

			<div class = "row footer">

				<div class = "span12">

					<p>
						This site is maintaned by <a href = "">Knowerce Consulting</a> and its source is available on <a href = "">Github</a>.
					</p>

				</div>

			</div>

		</div>

		<script src = "./js/vendor/jquery.min.js"></script>
		<script src = "./js/vendor/bootstrap.min.js"></script>
		<script src = "./js/dist/effects.js"></script>

	</body>

</html>