<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="text:Disqus Shortname" content="" />

    <title>{block:PostTitle} - {PostTitle}{/block:PostTitle} ({Title})</title>
    <link rel="shortcut icon" href="{Favicon}">
    <link rel="stylesheet" href="http://databrewery.org/css/bootstrap.css">
    <link rel="stylesheet" href="http://databrewery.org/css/main.css" type="text/css" media="screen, projection" />

    <link rel="alternate" type="application/rss+xml" title="News and Notes feed" href="/news.rss" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="http://databrewery.org/prettify/src/prettify.css" />
    <link rel="stylesheet" type="text/css" href="http://databrewery.org/prettify/styles/sunburst.css" />
    <script src="http://databrewery.org/prettify/src/prettify.js"></script>  
    <link rel="alternate" type="application/rss+xml" href="{RSS}">
    {block:Description}
        <meta name="description" content="{MetaDescription}" />
    {/block:Description}
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script type="text/javascript" src="http://static.tumblr.com/ovvtvf9/wnakwva42/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="http://static.tumblr.com/ovvtvf9/LOskwvhm8/o.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-796229-6']);
      _gaq.push(['_setDomainName', '.databrewery.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
  <body onload="prettyPrint()">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Data Brewery</a>
          <div class="nav-collapse">
            <ul class="nav">
            <li><a href="http://blog.databrewery.org">Blog and News</a></li>
            <li><a href="cubes.html">Cubes</a></li>
            <li><a href="brewery.html">Brewery</a></li>
            <li><a href="https://twitter.com/#!/Stiivi">Contact @Stiivi</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

	<h1>{title}</h1>

	{block:Description}
		<p id="description">{Description}</p>
	{/block:Description}

    <div class="row-fluid">
		<div class="span8">
              <ul class="unstyled">
                  {block:Posts}
                  {block:Date}
                  <h5 class="permalink date">

                      {block:NewDayDate}
                        <a title="{NoteCountWithLabel}"
                          href="{Permalink}">{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}</a>
                      {/block:NewDayDate}

                      {block:IfNotDisqusShortName}
                      {block:IfNotShowTheNumberOfPostNotes}
                        {block:SameDayDate}
                        <a title="{NoteCountWithLabel}"
                          href="{Permalink}">&rarr;</a>
                        {/block:SameDayDate}
                      {/block:IfNotShowTheNumberOfPostNotes}
                      {/block:IfNotDisqusShortName}

                      {block:IfShowTheNumberOfPostNotes}
                        <a href="{Permalink}">{NoteCountWithLabel}</a>
                      {/block:IfShowTheNumberOfPostNotes}

                      {block:IfDisqusShortname}
                        <a title="{NoteCountWithLabel}"
                          href="{Permalink}#disqus_thread"></a>
                      {/block:IfDisqusShortname}

                  </h5>
					by <a href="{PostAuthorURL}">{PostAuthorTitle}</a>
                  {/block:Date}

                      {block:Text}
                          <li class="post text">
                              {block:Title}
                                  <h1><a href="{Permalink}">{Title}</a></h1>
                              {/block:Title}

                              {Body}
                          </li>
                      {/block:Text}

                      {block:Photo}
                          <li class="post photo">
                              <img src="{PhotoURL-500}" alt="{PhotoAlt}"/>

                              {block:Caption}
                                  <div class="caption">{Caption}</div>
                              {/block:Caption}
                          </li>
                      {/block:Photo}

                      {block:Photoset}
                          <li class="post photoset">
                              {Photoset-500}

                              {block:Caption}
                                  <div class="caption">{Caption}</div>
                              {/block:Caption}
                          </li>
                      {/block:Photoset}

                      {block:Quote}
                          <li class="post quote">
                              "{Quote}"

                              {block:Source}
                                  <div class="source">{Source}</div>
                              {/block:Source}
                          </li>
                      {/block:Quote}

                      {block:Link}
                          <li class="post link">
                              <h1><a href="{URL}" class="link" {Target}><img src="http://databrewery.org/images/link_24x24.png" /> {Name}</a></h1>

                              {block:Description}
                                  <div class="description">{Description}</div>
                              {/block:Description}
                          </li>
                      {/block:Link}

                      {block:Chat}
                          <li class="post chat">
                              {block:Title}
                                  <h3><a href="{Permalink}">{Title}</a></h3>
                              {/block:Title}

                              <ul class="chat">
                                  {block:Lines}
                                      <li class="{Alt} user_{UserNumber}">
                                          {block:Label}
                                              <span class="label">{Label}</span>
                                          {/block:Label}

                                          {Line}
                                      </li>
                                  {/block:Lines}
                              </ul>
                          </li>
                      {/block:Chat}

                      {block:Video}
                          <li class="post video">
                              {Video-500}

                              {block:Caption}
                                  <div class="caption">{Caption}</div>
                              {/block:Caption}
                          </li>
                      {/block:Video}

                      {block:Audio}
                          <li class="post audio">
                              {AudioPlayerBlack}

                              {block:Caption}
                                  <div class="caption">{Caption}</div>
                              {/block:Caption}
                          </li>
                      {/block:Audio}

                      {block:HasTags}
                          Tags: {block:Tags}
                              <span class="label tag">
                                  <a href="{TagURL}">{Tag}</a>
                              </span>
                          {/block:Tags}
                      {/block:HasTags}

                      {block:Permalink}
                      {block:IfDisqusShortname}
                      <div id="disqus_thread"></div>
                      <script type="text/javascript" src="http://disqus.com/forums/{text:Disqus Shortname}/embed.js"></script>
                      <noscript><a href="http://{text:Disqus Shortname}.disqus.com/?url=ref">{lang:View the discussion thread}</a></noscript>
                      {/block:IfDisqusShortname}
                      {/block:Permalink}

                      {block:IndexPage}
                    <div class="sharing">
                    <g:plusone href="{Permalink}"></g:plusone>
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{Permalink}" data-count="none" data-via="Stiivi">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>                    
                    </div>
                    {/block:IndexPage}

                  {/block:Posts}
              </ul>


              <p id="footer">
                  {block:PreviousPage}
                      <a href="{PreviousPage}">&#171; Previous</a>
                  {/block:PreviousPage}

                  {block:NextPage}
                      <a href="{NextPage}">Next &#187;</a>
                  {/block:NextPage}

                  <a href="/archive">Archive</a>
              </p>

        </div> <!-- span8 -->
		  
	    <div class="span4">
              <form action="/search" method="get">
                  <input type="text" name="q" value="{SearchQuery}"/>
                  <input class="btn" type="submit" value="Search"/>
              </form>
            <ul class="unstyled">
               {block:IndexPage}
               <li><a href="/archive">Blog Archive</a></li>
               <li>&nbsp;</li>
               <li><a href="{RSS}"><img src="http://databrewery.org/images/rss_16x16.png" /> RSS</a></li>
               <li><a href="http://fusion.google.com/add?source=atgs&feedurl=http%3A//blog.databrewery.org/rss"><img src="http://buttons.googlesyndication.com/fusion/add.gif" border="0" alt="Add to Google"></a></li>
               {/block:IndexPage}
               {block:Permalink}
               <li><g:plusone href="{Permalink}"></g:plusone></li>
               <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="{Permalink}" data-count="none" data-via="Stiivi">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script></li>
               <li><a href="http://www.tumblr.com/share" title="Share on Tumblr" style="display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('http://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a></li>
               <li>&nbsp;</li>
               <li><a href="/archive">Blog Archive</a></li>
               {/block:Permalink}
            </ul>
          </div>
        </div>
      </div> <!-- row-fluid -->

      <footer>
        <p>&copy; <a href="http://stiivi.com">Stefan Urbanek</a> 2010-2011<br />
        <a href="credits.html">Credits</a></p>
      </footer>

    </div> <!-- /container -->

    {block:IfDisqusShortname}
    <script type="text/javascript">
      //<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/{text:Disqus Shortname}/get_num_replies.js' + query + '"></' + 'script>');
      })();
    //]]>
    </script>
    {/block:IfDisqusShortname}

  </body>

</html>
