<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Brewery - {{page.title}}</title>
    <link rel="stylesheet" href="http://databrewery.org/css/bootstrap.css">
    <link rel="stylesheet" href="http://databrewery.org/css/main.css" type="text/css" media="screen, projection" />
    <link rel="alternate" type="application/rss+xml" title="News and Notes feed" href="/news.rss" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-796229-6']);
      _gaq.push(['_setDomainName', '.databrewery.org']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Data Brewery</a>
          <div class="nav-collapse">
            <ul class="nav">
            <li><a href="http://blog.databrewery.org">Blog and News</a></li>
            <li><a href="cubes.html">Cubes</a></li>
            <li><a href="brewery.html">Brewery</a></li>
            <li><a href="https://twitter.com/#!/Stiivi">Contact @Stiivi</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

	<h1>{{page.title}} <small>{{page.tagline}}</small></h1>

    <div class="row-fluid">
		<div class="span8">
			{{content}}
		</div>

		{% if page.links %}
		<div class="span4">
			<h3>Links and Resources</h3>

			<ul class="unstyled">
			{% for link in page.links %}
			<li>
			{% if link.icon %}
			<img src="images/{{link.icon}}" />
			{% endif %}
			<a href="{{link.url}}">{{link.title}}</a>
			</li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}

      </div>

	  <hr />

      <footer>
        <p>&copy; <a href="http://stiivi.com">Stefan Urbanek</a> 2010-2011<br />
           <a href="credits.html">Credits</a></p>
      </footer>

    </div> <!-- /container -->

  </body>

</html>
