{% extends "layout.html" %}

{% block logo %}
	<a href = "{{ SITEURL }}/index.html">
		<img src = "{{ SITEURL }}/theme/img/logo_cubes_4.png" width = "200px">
	</a>
{% endblock logo %}

{% block menu %}
	<li><a href = "{{ SITEURL }}/index.html">Overview</a></li>
	<li><a href = "{{ SITEURL }}/documentation.html">Documentation &amp; Support</a></li>
	<li><a href = "{{ SITEURL }}/explore.html">Explore</a></li>
	<li><a href = "https://github.com/DataBrewery/cubes/issues">Feedback</a></li>
	<li><a href = "https://github.com/DataBrewery/cubes">Download</a></li>
{% endblock menu %}
